<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/form" method="post">
        <label for="name">Enter the name</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">Enter the Email</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <label for="pass">Enter the password</label><br>
        <input type="password" id="pass" name="password" required><br><br>
        <label for="message">Enter the Message</label> <br>
        <textarea name="message" id="message" required></textarea><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>